doctype html
html
  head
    meta(charset='UTF-8')
    title Hello World!
    link(rel='stylesheet', href='./styles.css')
  body
    - var n = 0
    while n < -1
      - n = n + 1
      .cell-container
        .cell
    canvas#canvas(style="display: none;")
  script.
    //-require('./webgl.js')
    require('./renderer.js')
